/*
Skin Name: Brown
Version: 1.0
Description: Skin for Flatshop
*/


/* color reset */
h1, h2, h3, h4, h5, h6,
a,
#site-description,
#menu-icon,
.post-title,
.post-title a,
.widgettitle,
#footer .social-widget a,
#body h2, {
	color: #3E2D22;
}
#menu-icon:hover,
#site-logo a:hover,
#footer .social-widget a:hover {
	color: #F5A623;
}
#main-nav a:hover,
#main-nav .current_page_item a,
#main-nav .current-menu-item a,
.social-widget a:hover,
.social-widget .rss a:hover {
	color: #f97c00;
}

/* searchform */
#header #searchform #s {
	color: #F5A623;
	border-color: #F5A623;
	border-width: 0 0 1px 0;
}

/* menu slide */
#cart-icon,
#slide-nav,
#slide-cart {
	color: #fff;
	background: #3E2D22;
}
#cart-icon:hover {
	background: #F5A623;
}

a.button, .single_add_to_cart_button{
	background: #3e2d22 !important;
}
a.button:hover{
	color: #f5a623 !important;
	border-color: #f5a623;
}

h3{
	color: #3E2D22  !important;
}

.list-post .products .product{
	padding-top: 2.5% !important;
}
/* landing page */

/* .full{
	width: 100% !important;
	background-size: cover;
	height: 800px;
}
.text{
	margin: 300px auto;
}

.pagewidth{
	width: 100% !important;
	max-width: 100% !important;
}

.content{
	padding: 0 3% !important;
}
#headerwrap{
	padding-left: 5px;
	padding-right: 5px;
}

#layout-wrap{
	padding-top: 85px !important;
}
 */
