/*  
Skin Name: Pink
Version: 1.0
Description: Skin for Flatshop
*/


/* color reset */
h1, h2, h3, h4, h5, h6,
#site-logo a,
#site-description,
#menu-icon,
.post-title,
.post-title a,
.widgettitle,
#footer .social-widget a,
#body h2 {
	color: #ec2b8c;
}
#menu-icon:hover,
#site-logo a:hover,
#footer .social-widget a:hover {
	color: #ea6eac;
}
#main-nav a:hover,
#main-nav .current_page_item a,
#main-nav .current-menu-item a,
.social-widget a:hover,
.social-widget .rss a:hover {
	color: #ff8cc3;
}

/* searchform */
#header #searchform #s {
	color: #ea6eac;
	border-color: #ea6eac;
	border-width: 0 0 1px 0;
}

/* menu slide */
#cart-icon,
#slide-nav,
#slide-cart {
	color: #fff;
	background: #ec2b8c;
}
#cart-icon:hover {
	background: #ea6eac;
}